---
# Copyright (C) 2020-2025 Robert Wimmer
# SPDX-License-Identifier: GPL-3.0-or-later

- name: Include Helm repository tasks
  ansible.builtin.include_tasks:
    file: helm_repository.yml

- name: Render values
  block:
    - name: Create temporary file for Helm values
      ansible.builtin.tempfile:
        state: file
        suffix: cilium_values
      delegate_to: "{{ cilium_delegate_to }}"
      run_once: true
      register: cilium__values_tmp_file

    - name: Select values file for Helm template
      ansible.builtin.template:
        src: "{{ lookup('first_found', params) }}"
        dest: "{{ cilium__values_tmp_file.path }}"
        mode: "0600"
      delegate_to: "{{ cilium_delegate_to }}"
      run_once: true
      vars:
        params:
          files:
            - values.yml.j2
            - values.yaml.j2
            - cilium_values_user.yml.j2
            - cilium_values_default.yml.j2
          paths:
            - "{{ cilium_chart_values_directory }}"
            - templates

    - name: Render template
      kubernetes.core.helm_template:
        chart_ref: "{{ cilium_chart_name }}"
        chart_version: "{{ cilium_chart_version }}"
        release_namespace: "{{ cilium_namespace }}"
        update_repo_cache: true
        values_files:
          - "{{ cilium__values_tmp_file.path }}"
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"
      register: cilium__template

    - name: Render template (helm command executed)
      when:
        - cilium__template is defined
        - cilium__template.command is defined
        - cilium_helm_show_commands
      ansible.builtin.debug:
        var: cilium__template.command
      delegate_to: "{{ cilium_delegate_to }}"
      run_once: true

    - name: Create directory to store template.yml
      ansible.builtin.file:
        dest: "{{ cilium_template_output_directory }}"
        state: directory
        mode: "0755"
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"

    - name: Write templates to file
      ansible.builtin.copy:
        dest: "{{ cilium_template_output_directory }}/template.yml"
        content: "{{ cilium__template.stdout }}"
        mode: "0644"
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"

    - name: Delete temporary file for Helm values
      when: cilium__values_tmp_file.path is defined
      ansible.builtin.file:
        path: "{{ cilium__values_tmp_file.path }}"
        state: absent
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"

  rescue:
    - name: Delete temporary file for Helm values
      when: cilium__values_tmp_file.path is defined
      ansible.builtin.file:
        path: "{{ cilium__values_tmp_file.path }}"
        state: absent
      run_once: true
      delegate_to: "{{ cilium_delegate_to }}"
