#
# See https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/values.yaml
# for all possible values.
#
# All possible Jinja2 features/filters can be used but keep in mind that the
# result needs to be a valid YAML file.

global:
  cni:
    chainingMode: portmap
  {% if cilium_etcd_enabled is defined and cilium_etcd_enabled == "true" -%}
  etcd:
    enabled: true
    endpoints:
    {% for host in groups[cilium_etcd_nodes_group] -%}
    - {% if cilium_etcd_secrets_name is defined %}https{% else %}http{% endif -%}://{{ hostvars[host]['ansible_' + cilium_etcd_interface].ipv4.address }}:{{ cilium_etcd_client_port }}
    {% endfor -%}
    ssl: {% if cilium_etcd_secrets_name is defined %}true{% else %}false{% endif -%}
  {% endif %}
